<html>
{% extends 'base.html' %}
{% block pagetitle %}
AI Engine
{% endblock pagetitle %}

{% block body %}

<div>
    <nav class="navbar navbar-expand-lg " style="height:40px;background-color:#3CB371;">
        <ul class="horizontal-menu" style="width:2300px; ">
            <i class="fa fa-envelope " href
                style="margin-top:19px;font-weight: bold; font-size: 16px; color:#fff;margin-left:-5%">
                &nbsp;
                SIMP.GROUPS.FP-CONTEST-AI
            </i>

            <i href="#" style="font-weight: bold; font-size: 15px; color:#fff;font-style:normal;margin-left:3%;">FREE
                AI</i>

            <i href="#" style="font-weight: bold; font-size: 16px; color:#fff;margin-left:35%"><i class="fa fa-twitter"
                    aria-hidden="true"></i></i>
            <i href="#" style="font-weight: bold; font-size: 16px; color:#fff;margin-left:1%"><i class="fa fa-facebook"
                    aria-hidden="true"></i></i>
            <i href="#" style="font-weight: bold; font-size: 16px; color:#fff;margin-left:1%"><i class="fa fa-pinterest"
                    aria-hidden="true"></i></i>
        </ul>
</div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:90px;">
    <!-- <img src="#" alt="Tag" width="135px" height="36px"
            style="margin-left:140px;"> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="width:1200px">
            <li class="nav-item active">
                <a class="nav-link" href="#"
                    style="margin-left:150px;font-weight: bold;font-size:17px; color: black;">Trang
                    chủ
                </a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#" style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Sản
                    phẩm</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#" style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Về
                    chúng ta</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="#"
                    style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Liên
                    hệ</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="http://127.0.0.1:5000/"
                    style="margin-left:15px;font-weight: bold;font-size:17px;color: black;">Khôi
                    phục</a>
            </li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-8 padding-top-2px" style="margin-top:10px">
    </div>
</nav>

<div class="container">
    <!-- For demo purpose -->
    <div class="row mb-5 text-center text-white">
        <div class="col-lg-10 mx-auto">
            <h1 class="display-4"
                style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4); font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <b>🍀 Xác định bệnh trên lá cây
                    🍀</b>
            </h1>
            <p class="lead" style="font-weight: 500;color: black;">AI này sẽ
                hỗ trợ xác định các bệnh trên lá cây</p>
        </div>
    </div>
    <!-- End -->
    <div class="row ">

        <div class="col-lg-12 mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">

                <style>
                    #drop-area {
                        border: 3px dashed #ccc;
                        background-color: #f9f9f9;
                        padding: 20px;
                        text-align: center;

                    }

                    #drop-area.dragover {
                        border: 2px dashed #007bff;
                        background-color: #e6f7ff;

                    }
                </style>
                <form action="/submit" method="POST" enctype="multipart/form-data">
                    <div class="custom-file overflow-hidden mb-4" id="drop-area">
                        <input type="file" id="actual-btn" hidden name="image" required />
                        <label for="actual-btn" class="bg-transparent"><img src="../static/Image_Upload.png"
                                width="55%"></label>
                        <br> <span id="file-chosen" style="font-weight: 600; font-style: italic;">Không
                            có tệp được chọn</span>
                    </div>

                    <!-- End -->

                    <h6 class="text-center mb-4 text-muted" style="font-size: 17px;font-weight: bold;">
                        Chỉ cần tải lên hình ảnh lá của bạn và sau đó xem
                        kết quả của AI.
                    </h6>

                    <!-- Custom bootstrap upload file-->
                    <center>
                        <a class="mx-2"><button type="submit" class="btn btn-outline-success"
                                style="font-weight: bold; border: 2px solid;">📤
                                DỰ ĐOÁN 📤</button></a>
                    </center>
                </form>
                <!-- End -->

            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;text-align: justify;">

                <h5 style="text-align: center;"><b>📝 Tại sao cần phải phát
                        hiện bệnh trong thực vật?</b></h5>
                <p style="margin-top: 3%; font-size: 17px;">Bệnh thực vật có ảnh hưởng đến sự phát triển của cây cối,
                    đặc biệt là đối với mỗi loài. Bên cạnh đó, một số lỗ hổng trong nghiên cứu cần được giải quyết để
                    nâng cao tính minh bạch trong việc phát hiện bệnh ở thực vật, thậm chí trước khi các triệu chứng trở
                    nên rõ ràng. Chẩn đoán chính xác là một trong những yếu tố quan trọng trong quá trình đào tạo các
                    nhà nghiên cứu về bệnh học thực vật. Nếu không xác định đúng bệnh và tác nhân gây bệnh, các biện
                    pháp kiểm soát có thể gây lãng phí thời gian và tài chính,...
                </p>
            </div>
        </div>

        <div class="col-lg-6 mx-auto">
            <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;text-align: left;">
                <h5 style="text-align: center;"><b>📝 Ngăn ngừa bệnh thực
                        vật theo các bước dưới đây:</b></h5>
                <ol style="margin-top: 3%;font-size: 17px;">
                    <li> Thực hiện thực hành vệ sinh tốt. </li>
                    <li> Bón phân để giữ cho cây của bạn khỏe mạnh. </li>
                    <li> Kiểm tra thực vật cho các bệnh trước khi bạn mang
                        chúng về nhà. </li>
                    <li> Cho phép đất ấm trước khi trồng. </li>
                    <li> Đảm bảo một vườn rau lành mạnh. </li>
                    <li> Cung cấp lưu thông không khí tốt </li>
                    <li> Loại bỏ thân cây và tán lá </li>
                </ol>
                <a target="_blank" href="#" class="mx-2">
                    <center>
                        <button type="button" class="btn btn-outline-success" style="font-weight: bold;"> Nhiều Hơn
                        </button>
                    </center>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    const dropArea = document.getElementById('drop-area');

    dropArea.addEventListener('dragover', function (e) {
        e.preventDefault();
        this.classList.add('dragover');
    });

    dropArea.addEventListener('dragleave', function () {
        this.classList.remove('dragover');
    });

    dropArea.addEventListener('drop', function (e) {
        e.preventDefault();
        this.classList.remove('dragover');
        const file = e.dataTransfer.files[0];

        if (file) {

            fileChosen.textContent = file.name;

            actualBtn.files = e.dataTransfer.files;
        }
    });

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name
    })
</script>

{% endblock body %}